
.container {
    position: relative;
    width: 50%;
  }

.container:hover .overlay {
    opacity: 1;
  }


 .image{
    width: 200px;
    height: 200px; 
    display: inline-block;
    background-size: cover;
    background-position: center;
    border: 1px solid #000;
    overflow: hidden;
} 

.text {
    color: hotpink;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%; 
    bottom: 50%;
    right: 50%; 
    width: 100px; 
    padding-left:100px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .overlay {
    display: inline-block;
    background-size: cover;
    background-position: center;
    border: 1px solid #000;
    overflow: hidden;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }



